{% extends "base.html" %}
{% block style %}
<style type="text/css">
 tr td{
		/* 不换行*/
		word-break:keep-all;
		/* 不换行*/
		white-space:nowrap;
		text-overflow: ellipsis;
		height:63px;
	}
        </style>
{% endblock %}
{% block script %}
<script>
    $(document).ready(function(){
  $("#fixbody tr").hover(function(){
    var num = $("#fixbody tr").index(this)
    $("#fixbody tr").eq(num).css("background-color","#e9ecef");
    $("#unfixbody tr").eq(num).css("background-color","#e9ecef");
    },function(){
     var num = $("#fixbody tr").index(this)
     $("#fixbody tr").eq(num).css("background-color","white");
    $("#unfixbody tr").eq(num).css("background-color","white");
  });
  $("#unfixbody tr").hover(function(){
    var num = $("#unfixbody tr").index(this)
    $("#fixbody tr").eq(num).css("background-color","#e9ecef");
    $("#unfixbody tr").eq(num).css("background-color","#e9ecef");
    },function(){
     var num = $("#unfixbody tr").index(this)
     $("#fixbody tr").eq(num).css("background-color","white");
    $("#unfixbody tr").eq(num).css("background-color","white");
  });

});
</script>
{% endblock %}
{% block content %}
<body>
    <div class="container-fluid d-inline-flex d-flex justify-content-between">
        <div class="p-2">
            <h2>公司总销量列表</h2>
        </div>

        <div class="btn-group p-3 text-center">
            <button class="btn btn-success text-white ml-auto" type="button" data-toggle="modal" data-target="#makeModal" ><i class="fa fa-gears fa-lg"></i>制作销量</button>
        </div>

    </div>
    <hr>
    {% if queryform.errors %}
        <div class="container-fluid alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>请修改以下错误</strong>
        </div>
    {% endif %}
    <form id="id_queryform" action="/fbyysite/reportmanage/cts/query/1" method="post" class="form-inline">
        <div class="form-group p-2 m-2">
            <label for="id_orderid">商品编码:&nbsp;&nbsp;</label>
            {{ queryform.ctsproductnum }}
        </div>
        &nbsp;&nbsp;{{ queryform.ctsproductnum.errors }}&nbsp;&nbsp;
        <br/>
        <div class="form-group p-2 m-2">
            <label for="ctscaldepart">部门:&nbsp;&nbsp;</label>
            <select class="form-control" id="ctscaldepart" name="ctscaldepart">
              <option value=''>请选择部门</option>
                {% for department in departments %}
                    <option value={{ department.tb_department_info_code }}>{{ department.tb_department_info_name }}</option>
                {% endfor %}
            </select>
        </div>
        <br/>
        <div class="form-group p-2 m-2">
            <label for="id_ctscaldepart">统计日期:&nbsp;&nbsp;</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                      {{ queryform.ctscaldateflag }}
                    </div>
                </div>
            {{queryform.ctscaldate}}
            </div>
            &nbsp;&nbsp;{{ queryform.ctscaldate.errors }}&nbsp;&nbsp;
        </div>
        <div class="btn-group">
            <button id="btnquery" type="submit" class="btn btn-primary"><i class="fa fa-search fa-lg"></i>查询</button>
            <button type="reset" class="btn btn-secondary"><i class="fa fa-remove fa-lg"></i>重置</button>
            <a class="btn btn-info" href="fbyysite/reportmanage/cts/pagenum/1"><i class="fa fa-user-circle fa-lg"></i>显示全部数据</a>
        </div>
    </form>
    <script>
  $(".errorlist").addClass("list-group")
  $(".errorlist li").addClass("list-group-item-danger")
</script>
    <hr/>
    {% if ctslist %}
    <div class="d-inline-flex table-responsive" style="width:100%;height:100%;position: relative;">
        <table  class="table" style="width:20%;height:100%;">
            <thead class="thead-light" style="white-space:nowrap;">
                <tr>
                    <th >商品编码</th>
                    <th >统计部门</th>
                </tr>
            </thead>
            <tbody id="fixbody">
            {% for cts in ctslist %}
            <tr >
                <td>{{cts.tb_cts_product_num}}</td>
                <td>{{cts.tb_cts_cal_depart}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <table class="table " style="position: absolute;overflow-x:scroll;overflow-y:hidden;left:20%;display:block;width:80%;height:100%;">
            <thead class="thead-light" style="white-space:nowrap;">
                <tr >
                    <th >销量</th>
                    <th >统计日期</th>
                </tr>
            </thead>
            <tbody id="unfixbody">
            {% for cts in ctslist %}
            <tr >
                <td>{{cts.tb_cts_sell_count}}</td>
                <td>{{cts.tb_cts_cal_date}}</td>
            </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
    {% block pageination %}

        <div class="d-inline-flex p-3 container-fluid">
                <ul class="pagination">
                    {% if ctslist.has_previous %}
                    <li class="page-item"><a class="page-link" href="/fbyysite/reportmanage/cts/pagenum/1">首页</a></li>
                    <li class="page-item"><a class="page-link" href="/fbyysite/reportmanage/cts/pagenum/{{ctslist.previous_page_number}}">上一页</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">首页</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
                    {% endif %}
                    <li class="page-item active"><a class="page-link" href="fbyysite/reportmanage/cts/pagenum/{{currentpage}}">{{currentpage}}</a></li>
                    {% if ctslist.has_next %}
                    <li class="page-item"><a class="page-link" href="/fbyysite/reportmanage/cts/pagenum/{{ctslist.next_page_number}}">下一页</a></li>
                    <li class="page-item"><a class="page-link" href="/fbyysite/reportmanage/cts/pagenum/{{totalpages}}">尾页</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">尾页</a></li>
                    {% endif %}
                    <li class="page-item"><input id="pagenumber" type="number" class="form-control"  min="1" max="{{totalpages}}" value="{{currentpage}}" onkeyup="if(this.value>{{totalpages}}){this.value=''}else{if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}}" onafterpaste="if(this.value>{{totalpages}}){this.value=''}else{if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}}"></li>
                    <li class="page-item"><button type="button" class="btn" id="btnjumppage">跳转</button></li>
                    <li class="page-item">
                            <span class="form-control alert-success" >当前结果共有{{totalpages}}页</span>
                    </li>
                </ul>
        </div>
        <script>
            $("#btnjumppage").on('click',function(){
                var jumppagenum = $("#pagenumber").val();
                if(jumppagenum===''){
                }else{
                    window.location.href="/fbyysite/reportmanage/cts/pagenum/" + jumppagenum;
                }
             });
        </script>
        {% endblock %}
    {% else %}
    <div class="alert alert-danger w-100">
        {% block emptymsg %}<strong>当前还没有任何数据</strong>{% endblock %}
    </div>
    <div class="d-inline-flex" style="width:100%;height:100%;position: relative;">

        <table class="table table-hover " style="width:60%;height:100%;">
            <thead class="thead-light" style="white-space:nowrap;">
                <tr>
                    <th >商品编码</th>
                    <th >统计部门</th>
                </tr>
            </thead>
        </table>
        <table class="table table-hover " style="position: absolute;overflow-x:scroll;left:60%;display:block;width:40%;height:100%;">
            <thead class="thead-light" style="white-space:nowrap;">
                <tr class="" style="white-space:nowrap;">
                    <th >销量</th>
                    <th >统计日期</th>
                </tr>
            </thead>
        </table>

    </div>
    {% endif %}


<div class="modal fade" id="makeModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">生成销量数据</h4>
          <button type="button" class="close" data-dismiss="modal" id="modalclose">&times;</button>
        </div>
        <!-- 模态框主体 -->
        <div class="modal-body">
            <div class="container">
                <form action="/fbyysite/reportmanage/cts/make" method="post" enctype="multipart/form-data" target="ResultFrame" id="MakeDataForm">
                    <div class="d-flex flex-row">
                    <div class="form-group p-2 m-2 form-inline">
                        <label for="ctsmakedepart">部门:&nbsp;&nbsp;</label>
                        <select class="form-control" id="ctsmakedepart" name="ctsmakedepart">
                            {% for department in departments %}
                                <option value={{ department.tb_department_info_code }}>{{ department.tb_department_info_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group p-2 m-2 form-inline">
                    <label for="id_ctscaldepart">制作日期:&nbsp;&nbsp;</label>
                    <div class="input-group ">
                    {{makeform.ctsmakedate}}
                    </div>
                    &nbsp;&nbsp;{{ makeform.ctsmakedate.errors }}&nbsp;&nbsp;
        </div>
                        </div>
                    <div class="btn-group pull-right">
                        <button type="submit" class="btn btn-primary text-white ml-auto pull-right" id="makecaldata">生成</button>
                        <button type="button" class="btn btn-secondary ml-auto pull-right" data-dismiss="modal">关闭</button>
                    </div>
                </form>

            </div>

        </div>
        <div class="modal-footer p-0">
            <iframe name="ResultFrame" id="ResultFrame"  width="100%" height="51px" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" class="p-0">

            </iframe>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}