{% extends "base_index.html" %}
{% block style %}

<style>
#iframeLeft{
            width: 15%;
            height: 100%;
            float: left;
        }
#iframeContent{
            width: 85%;
            height: 100%;
        }
 </style>

{% endblock %}
{% block main %}
<iframe id="iframeLeft"  name="iframeLeft" frameborder="0" src="/fbyysite/index/left" height="100%"></iframe>
<iframe id="iframeContent"  name="iframeContent" frameborder="0" src="/fbyysite/index/content" height="100%" ></iframe>

{% endblock %}

