{% extends "base.html" %}

{% block content %}
<body class="bg-light">
<div id="accordion">

    {% for module in modules %}
      <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#{{module.tb_module_code}}">
          {{module.tb_module_name}}
        </a>
      </div>
      <div id="{{module.tb_module_code}}" class="collapse" data-parent="#accordion">
        <div class="card-body">
          <ul class="navbar-nav">
            {% for function in functions %}
            {% ifequal function.tb_function_module_code module.tb_module_code%}
             <li class="nav-item">
              <a class="nav-link" href="{{function.tb_function_href}}" target="iframeContent">{{function.tb_function_name}}</a>
            </li>
            {% endifequal %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</body>
{% endblock %}