{% extends "storage_manage.html" %}

{% block emptymsg %}<strong>没有符合查询条件的数据，请检查查询条件！！</strong>{% endblock %}

{% block pageination %}
{% if storagelist %}
<form id="curform" action="" hidden="hidden" method="post">
   <div class="form-group p-2 m-2">
            <label for="id_storageproductid">商品编码:&nbsp;&nbsp;</label>
            {{ queryform.storageproductid }}
        </div>
        &nbsp;&nbsp;{{ queryform.storageproductid.errors }}&nbsp;&nbsp;
        <div class="form-group p-2 m-2">
            <label for="id_storagespecname">规格名称:&nbsp;&nbsp;</label>
            {{ queryform.storagespecname }}
        </div>
        &nbsp;&nbsp;{{ queryform.storagespecname.errors }}&nbsp;&nbsp;
        <div class="form-group p-2 m-2">
            <label for="id_storageproductnum">货号:&nbsp;&nbsp;</label>
            {{ queryform.storageproductnum }}
        </div>
        &nbsp;&nbsp;{{ queryform.storageproductnum.errors }}&nbsp;&nbsp;
        <div class="form-group p-2 m-2">
            <label for="id_storagecatalogue">分类:&nbsp;&nbsp;</label>
            {{ queryform.storagecatalogue }}
        </div>
        &nbsp;&nbsp;{{ queryform.storagecatalogue.errors }}&nbsp;&nbsp;
        <br>
        <div class="form-group p-2 m-2">
            <label for="querystoragedepart">部门:&nbsp;&nbsp;</label>
            <select class="form-control" id="querystoragedepart" name="querystoragedepart">
              <option value=''>请选择部门</option>
                {% for department in departments %}
                    <option value={{ department.tb_department_info_code }}>{{ department.tb_department_info_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group p-2 m-2">
            <label for="id_queryimportdate">导入日期:&nbsp;&nbsp;</label>
            <div class="input-group ">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                      {{ queryform.queryimportdatewhetherflag }}
                    </div>
                </div>
            {{queryform.queryimportdate}}
            </div>
            &nbsp;&nbsp;{{ queryform.queryimportdate.errors }}&nbsp;&nbsp;
        </div>
</form>
<div class="d-inline-flex p-3 container-fluid">
<ul class="pagination">
    {% if storagelist.has_previous %}
    <li class="page-item"><a class="page-link" href="#" onclick="querystorage(1)">首页</a></li>
    <li class="page-item"><a class="page-link" href="#" onclick="querystorage({{storagelist.previous_page_number}})">上一页</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">首页</a></li>
    <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
    {% endif %}
    <li class="page-item active"><a class="page-link" href="#" onclick="querystorage({{currentpage}})">{{currentpage}}</a></li>
    {% if ztclist.has_next %}
    <li class="page-item"><a class="page-link" href="#" onclick="querystorage({{storagelist.next_page_number}})">下一页</a></li>
    <li class="page-item"><a class="page-link" href="#" onclick="querystorage({{totalpages}})">尾页</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
    <li class="page-item disabled"><a class="page-link" href="#">尾页</a></li>
    {% endif %}
    <li class="page-item"><input id="pagenumber" type="number" class="form-control"  min="1" max="{{totalpages}}" value="{{currentpage}}" onkeyup="if(this.value>{{totalpages}}){this.value=''}else{if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}}" onafterpaste="if(this.value>{{totalpages}}){this.value=''}else{if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}}"></li>
    <li class="page-item"><button type="button" class="btn" id="btnjumppage">跳转</button></li>
    <li class="page-item">
        <span class="form-control alert-success" >当前结果共有{{totalpages}}页</span>
    </li>
</ul>
</div>
<script>
    function querystorage(querypage){
        $("#curform").attr("action","fbyysite/datamanage/storage/query/"+querypage);
        $("#curform").submit();
    }
    $("#btnjumppage").on('click',function(){
                var jumppagenum = $("#pagenumber").val();
                if(jumppagenum===''){
                }else{
                   querystorage(jumppagenum);
                }
             });
</script>
{% endif %}
{% endblock %}