{% extends "storelogistic_manage.html" %}

{% block emptymsg %}<strong>没有符合查询条件的数据，请检查查询条件！！</strong>{% endblock %}

{% block pageination %}
{% if storelogisticlist %}
<form id="curform" action="" hidden="hidden" method="post">
   <div class="form-group p-2 m-2">
            <label for="querystorelogisticdepart">部门:&nbsp;&nbsp;</label>
            <select class="form-control" id="querystorelogisticdepart" name="querystorelogisticdepart">
              <option value=''>请选择部门</option>
                {% for department in departments %}
                    <option value={{ department.tb_department_info_code }}>{{ department.tb_department_info_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group p-2 m-2">
            <label for="querystorelogisticstore">店铺:&nbsp;&nbsp;</label>
            <select class="form-control" id="querystorelogisticstore" name="querystorelogisticstore">

            </select>
        </div>
        <div class="form-group p-2 m-2">
            <label for="id_storelogisticcaldate">统计日期:&nbsp;&nbsp;</label>
            <div class="input-group ">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                      {{ queryform.storelogisticcaldateflag }}
                    </div>
                </div>
            {{queryform.storelogisticcaldate}}
            </div>
            &nbsp;&nbsp;{{ queryform.storelogisticcaldate.errors }}&nbsp;&nbsp;
        </div>
        <div class="form-group p-2 m-2">
            <label for="id_storelogisticimportdate">导入日期:&nbsp;&nbsp;</label>
            <div class="input-group ">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                      {{ queryform.storelogisticimportdateflag }}
                    </div>
                </div>
            {{queryform.storelogisticimportdate}}
            </div>
            &nbsp;&nbsp;{{ queryform.storelogisticimportdate.errors }}&nbsp;&nbsp;
        </div>
</form>
<div class="d-inline-flex p-3 container-fluid">
<ul class="pagination">
    {% if storelogisticlist.has_previous %}
    <li class="page-item"><a class="page-link" href="#" onclick="querystorelogistic(1)">首页</a></li>
    <li class="page-item"><a class="page-link" href="#" onclick="querystorelogistic({{storelogisticlist.previous_page_number}})">上一页</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">首页</a></li>
    <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
    {% endif %}
    <li class="page-item active"><a class="page-link" href="#" onclick="querystorelogistic({{currentpage}})">{{currentpage}}</a></li>
    {% if storelogisticlist.has_next %}
    <li class="page-item"><a class="page-link" href="#" onclick="querystorelogistic({{storelogisticlist.next_page_number}})">下一页</a></li>
    <li class="page-item"><a class="page-link" href="#" onclick="querystorelogistic({{totalpages}})">尾页</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
    <li class="page-item disabled"><a class="page-link" href="#">尾页</a></li>
    {% endif %}
    <li class="page-item"><input id="pagenumber" type="number" class="form-control"  min="1" max="{{totalpages}}" value="{{currentpage}}" onkeyup="if(this.value>{{totalpages}}){this.value=''}else{if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}}" onafterpaste="if(this.value>{{totalpages}}){this.value=''}else{if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}}"></li>
    <li class="page-item"><button type="button" class="btn" id="btnjumppage">跳转</button></li>
    <li class="page-item">
        <span class="form-control alert-success" >当前结果共有{{totalpages}}页</span>
    </li>
</ul>
</div>
<script>
    function querystorelogistic(querypage){
        $("#curform").attr("action","fbyysite/datamanage/store/storelogistic/query/"+querypage);
        $("#curform").submit();
    }
    $("#btnjumppage").on('click',function(){
                var jumppagenum = $("#pagenumber").val();
                if(jumppagenum===''){
                }else{
                   querystorelogistic(jumppagenum);
                }
             });
</script>
{% endif %}
{% endblock %}