{% extends "base.html" %}
{% block style %}
<style>
    ul {list-style-type:none;}
</style>
{% endblock %}
{% block script %}
<script>
    function delconfirm(obj){
        var tr = $(obj).parent().parent().parent();
        var name = tr.children("td:nth-child(1)").text();
        var nickname = tr.children("td:nth-child(2)").text();
        var email = tr.children("td:nth-child(3)").text();
        $("#delname").text(name);
        $("#delnickname").text(nickname);
        $("#deluseremail").val(email);
        $("#delreferer").val(window.location.href);
    }
</script>
{% endblock %}
{% block content %}
<body>
    <div class="container-fluid d-inline-flex d-flex justify-content-between">
        <div class="p-2">
            <h2>用户信息列表</h2>
        </div>
        <div class="btn-group p-3 text-center">
            <a class="btn btn-success text-white ml-auto" href="/fbyysite/usermanage/add/"><i class="fa fa-plus-square-o fa-lg"></i>添加新用户</a>
            <a class="btn btn-info text-white ml-auto" href="/fbyysite/usermanage/visualshow/"><i class="bar-chart fa-lg"></i>查看用户统计</a>
        </div>
    </div>
    <hr>
    {% if queryform.errors %}
        <div class="container-fluid alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>请修改以下错误</strong>
        </div>
        {% endif %}
    <br>
    <form id="id_queryform" action="/fbyysite/usermanage/query/1" method="post" class="form-inline">
        <div class="form-group p-2 m-2">
            <label for="id_queryusername">用户名:&nbsp;&nbsp;</label>
            {{ queryform.queryusername }}
        </div>
         &nbsp;&nbsp;{{ queryform.queryusername.errors }}&nbsp;&nbsp;
        <div class="form-group p-2 m-2">
            <label for="id_queryusernickname">用户花名:&nbsp;&nbsp;</label>
            {{ queryform.queryusernickname }}
        </div>
        &nbsp;&nbsp;{{ queryform.queryusernickname.errors }}&nbsp;&nbsp;
        <div class="form-group p-2 m-2">
            <label for="id_queryemail">用户邮箱:&nbsp;&nbsp;</label>
            {{ queryform.queryemail }}
        </div>
        &nbsp;&nbsp;{{ queryform.queryemail.errors }}&nbsp;&nbsp;
        <br>
        <div class="form-group p-2 m-2">
            <label for="queryuserdepart">所在部门:&nbsp;&nbsp;</label>
            <select class="form-control" id="queryuserdepart" name="queryuserdepart">
              <option value=''>请选择部门</option>
                {% for department in departments %}
                    <option value={{ department.tb_department_info_code }}>{{ department.tb_department_info_name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group p-2 m-2">
            <label for="queryuserstore">所在店铺:&nbsp;&nbsp;</label>
            <select class="form-control" id="queryuserstore" name="queryuserstore">
            </select>
        </div>
        <div class="form-group p-2 m-2">
            <label >是否为超级管理员:&nbsp;&nbsp;</label>
            <div class="input-group bg-light">
                <div class="input-group-prepend mr-2">
                    <div class="input-group-text">
                      {{ queryform.querysuperuserwhetherflag }}
                    </div>
                </div>
                <div class="custom-control custom-radio custom-control-inline" >
                    <input type="radio" class="custom-control-input" id="querysuperusertrue" name="querysuperuserwhether" value="1" >
                    <label class="custom-control-label" for="querysuperusertrue">超级管理员</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline" >
                    <input type="radio" class="custom-control-input" id="querysuperuserfalse" name="querysuperuserwhether" value="0" checked="checked">
                    <label class="custom-control-label" for="querysuperuserfalse">非超级管理员</label>
                </div>
            </div>
        </div>
        <div class="form-group p-2 m-2">
            <label >账号激活状态:&nbsp;&nbsp;</label>
            <div class="input-group bg-light">
                <div class="input-group-prepend mr-2">
                    <div class="input-group-text">
                      {{ queryform.queryactiveaccountwhetherflag }}
                    </div>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input " id="queryactiveaccounttrue" name="queryactiveaccountwhether" value="1" checked="checked">
                    <label class="custom-control-label" for="queryactiveaccounttrue">激活</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" class="custom-control-input " id="queryactiveaccountfalse" name="queryactiveaccountwhether" value="0">
                    <label class="custom-control-label" for="queryactiveaccountfalse">非激活</label>
                </div>
            </div>
        </div>
        <div class="form-group p-2 m-2">
            <label for="id_querycreatedate">用户创建日期:&nbsp;&nbsp;</label>
            <div class="input-group ">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                      {{ queryform.querycreatedateflag }}
                    </div>
                </div>
                    {{queryform.querycreatedate}}
            </div>
            &nbsp;&nbsp;{{ queryform.querycreatedate.errors }}
        </div>
        <div class="btn-group">
            <button id="btnquery" type="submit" class="btn btn-primary"><i class="fa fa-search fa-lg"></i>查询</button>
            <button type="reset" class="btn btn-secondary"><i class="fa fa-remove fa-lg"></i>重置</button>
            <a class="btn btn-info" href="fbyysite/usermanage/pagenum/1"><i class="fa fa-user-circle fa-lg"></i>显示全部用户</a>
        </div>
    </form>
    <br>

    <script>
  $(".errorlist").addClass("list-group")
  $(".errorlist li").addClass("list-group-item-danger")
  $(".list-group").removeClass("errorlist")

  var depart_code = $("#queryuserdepart").val();
if(depart_code===''){
$('#queryuserstore').empty();
}else{
      $.ajax({
        url: 'registe/ajaxstores',
        data: {
          'depart_code': depart_code
        },
        type: 'GET',
        dataType: 'json',
        success: function (data) {
                  $('#queryuserstore').empty();
            var content='<option value='+'Other'+'>非店铺</option>';
            $.each($.parseJSON(data), function(i, item){
                  content+='<option value='+item.fields.tb_store_code+'>'+item.fields.tb_store_code+'</option>'
                });
            $('#queryuserstore').html(content)
        },
      });
}
$("#queryuserdepart").change(function() {
      var depart_code = $(this).val();
        if(depart_code===''){
            $('#queryuserstore').empty();
        }else{
        $.ajax({
        url: '/fbyysite/registe/ajaxstores',
        data: {
          'depart_code': depart_code
        },
        type: 'GET',
        dataType: 'json',
        success: function (data) {
                  $('#queryuserstore').empty();
            var content='<option value='+'Other'+'>非店铺</option>';
            $.each($.parseJSON(data), function(i, item){
                  content+='<option value='+item.fields.tb_store_code+'>'+item.fields.tb_store_code+'</option>'
                });
            $('#queryuserstore').html(content)
        },
      });
        }  
    });

</script>
    <hr/>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>用户名</th>
                    <th>用户花名</th>
                    <th>用户邮箱</th>
                    <th>用户密码</th>
                    <th>用户所在部门</th>
                    <th>用户所在店铺</th>
                    <th>激活状态</th>
                    <th>是否具有超级管理员权限</th>
                    <th>上次登录时间</th>
                    <th>用户创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
            {% if userlist %}
            {% for user in userlist %}
            <tr>
                <td>{{user.tb_user_info_name}}</td>
                <td>{{user.tb_user_info_nickname}}</td>
                <td>{{user.tb_user_info_email}}</td>
                <td>{{user.tb_user_info_pwd}}</td>
                <td>{{user.tb_user_info_department_name}}</td>
                <td>{{user.tb_user_info_store_name}}</td>
                <td>{{user.tb_user_info_status}}</td>
                <td>{{user.tb_user_info_superuser}}</td>
                <td>{{user.tb_user_info_last_login}}</td>
                <td>{{user.tb_user_info_datejoined}}</td>
                <td>
                    <div class="btn-group">
                        <a class="btn btn-primary text-white" href="/fbyysite/usermanage/edit/account/{{user.tb_user_info_email}}"><i class="fa fa-edit fa-lg"></i>修改</a>
                        <button type="button" class="btn btn-danger text-white" onclick="delconfirm(this)" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash-o fa-lg"></i>删除</button>
                    </div>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <div class="alert alert-danger">
                {% block emptymsg %}<strong>当前还没有任何用户</strong>{% endblock %}
            </div>
            {% endif %}
            </tbody>
        </table>
        {% block pageination %}
        {% if userlist %}
        <div class="d-inline-flex p-3 container-fluid">
                <ul class="pagination">
                    {% if userlist.has_previous %}
                    <li class="page-item"><a class="page-link" href="/fbyysite/usermanage/pagenum/1">首页</a></li>
                    <li class="page-item"><a class="page-link" href="/fbyysite/usermanage/pagenum/{{userlist.previous_page_number}}">上一页</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">首页</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
                    {% endif %}
                    <li class="page-item active"><a class="page-link" href="/fbyysite/usermanage/pagenum/{{currentpage}}">{{currentpage}}</a></li>
                    {% if userlist.has_next %}
                    <li class="page-item"><a class="page-link" href="/fbyysite/usermanage/pagenum/{{userlist.next_page_number}}">下一页</a></li>
                    <li class="page-item"><a class="page-link" href="/fbyysite/usermanage/pagenum/{{totalpages}}">尾页</a></li>
                    {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">下一页</a></li>
                    <li class="page-item disabled"><a class="page-link" href="#">尾页</a></li>
                    {% endif %}
                    <li class="page-item"><input id="pagenumber" type="number" class="form-control"  min="1" max="{{totalpages}}" value="{{currentpage}}" onkeyup="if(this.value>{{totalpages}}){this.value=''}else{if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}}" onafterpaste="if(this.value>{{totalpages}}){this.value=''}else{if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}}"></li>
                    <li class="page-item"><button type="button" class="btn" id="btnjumppage">跳转</button></li>
                    <li class="page-item">
                            <span class="form-control alert-success" >当前结果共有{{totalpages}}页</span>
                    </li>
                </ul>
        </div>
        <script>
            $("#btnjumppage").on('click',function(){
                var jumppagenum = $("#pagenumber").val();
                if(jumppagenum===''){
                }else{
                    window.location.href="/fbyysite/usermanage/pagenum/" + jumppagenum;
                }
             });
        </script>
        {% endif %}
        {% endblock %}
    </div>
    <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- 模态框头部 -->
        <div class="modal-header">
          <h4 class="modal-title">删除用户提示</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- 模态框主体 -->
        <div class="modal-body">

            <div class="container">
                <p class="text-center text-justify">确定要删除当前用户吗？<br>用户名为：<strong id="delname" class="text-danger"></strong><br>花名为：<strong id="delnickname" class="text-danger"></strong></p>
            </div>
        </div>

        <!-- 模态框底部 -->
        <div class="modal-footer">
            <form action="/fbyysite/usermanage/delete/account/" method="post">
                <input type="hidden" id="deluseremail" name="deluseremail">
                <input type="hidden" id="delreferer" name="delreferer">
                <button type="submit" id="delconfirm"  class="btn btn-danger text-white" >确认删除</button>
            </form>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
        </div>

      </div>
    </div>
  </div>
</body>
{% endblock %}