{% extends "base.html" %}
{% block content %}
<body>
    <div class="table-responsive">
        <h2>用户信息列表</h2>
        <table class="table table-hover">
            <thead class="thead-light">
                <tr>
                    <th>用户名</th>
                    <th>用户花名</th>
                    <th>用户邮箱</th>
                    <th>用户密码</th>
                    <th>用户所在部门</th>
                    <th>用户所在店铺</th>
                    <th>激活状态</th>
                    <th>是否具有超级管理员权限</th>
                    <th>上次登录时间</th>
                    <th>用户创建时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{user.tb_user_info_name}}</td>
                    <td>{{user.tb_user_info_nickname}}</td>
                    <td>{{user.tb_user_info_email}}</td>
                    <td>{{user.tb_user_info_pwd}}</td>
                    <td>{{user.tb_user_info_department_name}}</td>
                    <td>{{user.tb_user_info_store_name}}</td>
                    <td>{{user.tb_user_info_status}}</td>
                    <td>{{user.tb_user_info_superuser}}</td>
                    <td>{{user.tb_user_info_last_login}}</td>
                    <td>{{user.tb_user_info_datejoined}}</td>
                    <td><a class="btn btn-primary text-white" href="fbyysite/usermanage/edit/account/{{user.tb_user_info_email}}"><i class="fa fa-edit fa-lg"></i>修改</a><a class="btn btn-danger text-white" href="fbyysite/usermanage/edit?account="><i class="fa fa-trash-o fa-lg"></i>删除</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}