{% extends "base.html" %}
{% block main %}
<div class="container" style="margin-top:100px; width:40em;">
 <form action="usereditcheck" method="post">
    <!-- {% csrf_token %} -->
     <div class="form-group">
      <input type="hidden" name="userid"  value="{{user.idtb_user_info}}">
    </div>
    <div class="form-group">
      <label for="id_username">用户名:</label>
      <input type="text" name="username" placeholder="请输入真实姓名" class="form-control" maxlength="20" required="" id="id_username" value="{{user.tb_user_info_name}}">
    </div>
    <div class="form-group">
      <label for="id_usernickname">用户花名:</label>
      <input type="text" name="usernickname" placeholder="请输入公司内部花名" class="form-control" maxlength="20" required="" id="id_usernickname" value="{{user.tb_user_info_nickname}}">
    </div>
    <div class="form-group">
      <label for="id_pwd">密码:</label>
      <input type="password" name="pwd" placeholder="请输入密码" class="form-control" minlength="6" required="" id="id_pwd" value="tb_user_info_pwd">
    </div>
    <div class="form-group">
      <label for="id_email">邮箱:</label>
       <input type="email" name="email" placeholder="请输入邮箱地址" class="form-control" required="" id="id_email" value="{{user.tb_user_info_email}}">
    </div>
    <div class="form-group">
      <label for="seldepart">所在部门:</label>
      <select class="form-control" id="seldepart" name="seldepart">
        <option value=''>请选择部门</option>
        {% for department in departments %}
          {% ifequal depart.tb_department_info_code user.tb_department_info_code %}
            <option value={{ department.tb_department_info_code }} selected="selected">{{ department.tb_department_info_name }}</option>
          {% else %}
            <option value={{ department.tb_department_info_code }}>{{ department.tb_department_info_name }}</option>
          {% endifequal %}
        {% endfor %}
      </select>
    </div>
    <div class="form-group">
      <label for="selstore">所在店铺:</label>
      <select class="form-control" id="selstore" name="selstore">
      </select>
    </div>
    <input type="submit" class="btn btn-primary" value="确认修改">
  </form>
    <script>
  $(".errorlist").addClass("list-group")
  $(".errorlist li").addClass("list-group-item-danger")

  var depart_code = $("#seldepart").val();
if(depart_code===''){

}else{
      $.ajax({
        url: 'registe/ajaxstores',
        data: {
          'depart_code': depart_code
        },
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            var content='<option value='+'Other'+'>非店铺</option>';
            $.each($.parseJSON(data), function(i, item){
                            if(item.fields.tb_store_code === {{user.tb_department_info_code}}){
                            content+='<option value='+item.fields.tb_store_code+' selected=selected>'+item.fields.tb_store_code+'</option>'
                            }else{
                            content+='<option value='+item.fields.tb_store_code+'>'+item.fields.tb_store_code+'</option>'
                            }
                  
                });
            $('#selstore').html(content)
        },
      });
}
$("#seldepart").change(function() {
      var depart_code = $(this).val();
      $.ajax({
        url: 'registe/ajaxstores',
        data: {
          'depart_code': depart_code
        },
        type: 'GET',
        dataType: 'json',
        success: function (data) {
            var content='<option value='+'Other'+'>非店铺</option>';
            $.each($.parseJSON(data), function(i, item){
                  content+='<option value='+item.fields.tb_store_code+'>'+item.fields.tb_store_code+'</option>'
                });
            $('#selstore').html(content)
        },

      });
    });

</script>
</div>
{% endblock %}